body {
  background-image: url(../my-site-images/Beach\ texture.svg);
}

hr {
  width: auto;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}
.navbar {
  background: white;
  border: none;
}
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }
}

.sc-1 {
  color: white;
}

/* This styling is what needs to be fixed for container to look right */
.about-me-cont {
  background-color: white;
  margin-left: 30px;
  margin-right: 40%;
  margin-top: 10%;
  width: 50%;
  padding: 15px 2px 15px 20px;
  display: flexbox;
  opacity: 99.7%;
}

.about-me-cont h1 {
  font-family: "Hachi Maru Pop", cursive;
}

.port-cont {
  background-color: white;
  margin-left: 30px;
  margin-right: 20%;
  margin-top: 10%;
  width: 35%;
  padding: 15px 2px 15px 20px;
  display: flexbox;
  opacity: 99.7%;
}

.port-cont h1 {
  font-family: "Hachi Maru Pop", cursive;
}

.wrapTextStyle {
  margin-left: 10px;
}

.pic-style1 {
  width: 60%;
  padding: 20px 20px 5px 20px;
  float: left;
}

.port-pic-style1 {
  width: 250px;
  padding: 20px 10px 5px 20px;
  float: left;
}
.linkStyle1 {
  color: green;
}

.linkStyle1:hover {
  color: purple;
}

.form-text-style {
  font-size: 24px;
}

@media only screen and (max-width: 400px) {
  .about-me-cont {
    background-color: whitesmoke;
    margin-left: 30px;
    margin-right: 40%;
    margin-top: 10%;
    width: 100%;
    padding: 15px 2px 15px 20px;
    display: flexbox;
  }
}
